*.xml 
*.pyc
*.iml
*.png
*.mp4
PFR or CSTR/Untitled.ipynb
PFR or CSTR/trim.gif
PFR or CSTR/.ipynb_checkpoints/Untitled-checkpoint.ipynb
PFR or CSTR/.ipynb_checkpoints/Agent-checkpoint.ipynb
PFR or CSTR/.ipynb_checkpoints/Agent-checkpoint.ipynb
Discrete and Continuous/Asynchronous P-DQN/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Discrete and Continuous/Asynchronous P-DQN/.ipynb_checkpoints/Visualisation-checkpoint.ipynb
Discrete and Continuous/Asynchronous P-DQN/Untitled.ipynb
PFR or CSTR/.ipynb_checkpoints/Agent-checkpoint.ipynb
PFR or CSTR/.ipynb_checkpoints/Agent-checkpoint.ipynb
Discrete and Continuous/Heuristic Design/.ipynb_checkpoints/Untitled-checkpoint.ipynb
PFR or CSTR/.ipynb_checkpoints/Agent-checkpoint.ipynb
Discrete and Continuous/Asynch full state/.ipynb_checkpoints/Visualisation-checkpoint.ipynb
PFR or CSTR/.ipynb_checkpoints/Agent-checkpoint.ipynb
*.log
PFR or CSTR/.ipynb_checkpoints/Agent-checkpoint.ipynb
PFR or CSTR/.ipynb_checkpoints/Agent-checkpoint.ipynb
PFR or CSTR/.ipynb_checkpoints/Agent-checkpoint.ipynb
*.h5
Discrete and Continuous/Asynch full state/rewards.csv
Discrete and Continuous/.ipynb_checkpoints/Heuristic_Design-checkpoint.ipynb
*.db
